<div class="ui borderless top sticky menu">
  <div class="ui container">
    <a class="header item" [routerLink]="['']">
      Online Property Rental Service
    </a>
    <a class="item" [routerLink]="['/search']">
      <i class="search icon"></i>Search
    </a>
    <div class="right menu">
      <div class="item" [routerLink]="['/login']">
        <div class="ui green button">Login</div>
      </div>
      <div class="item" [routerLink]="['/register']">
        <div class="ui green button">Register</div>
      </div>
      <div class="item" [routerLink]="['/account']">
        <div class="ui green button">Account</div>
      </div>
    </div>
  </div>
</div>
