<div class="ui container">
  <h1 class="header">OPRS</h1>
  <form class="ui form" (ngSubmit)="login()">
    <div class="field">
      <label>Email</label>
      <input [(ngModel)]="email" type="email" name="first-name" placeholder="john@apple.com" />
    </div>
    <div class="field">
      <label>Password</label>
      <input [(ngModel)]="password" type="password" name="last-name" placeholder="Password" />
    </div>
    <button class="ui fluid blue button" type="submit">Login</button>
  </form>
</div>
